@font-face {
  font-family: 'Helanoir Regular';
  src: url(/src/assets/font/HalenoirCompact-Regular.otf) format('opentype');
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Helanoir Regular", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}